<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="images/janne.jpg" class="img-fluid mx-auto d-block border-0 rounded-pill" alt="Profile Picture">
            </div>
            <div class="col-lg-4 mt-5 mt-lg-0">
                <h2>About Me</h2>
                <h3>Hello! <span style="color:goldenrod;">My name is Janne Marie - I am a Backend Developer</span></h4>

                    <p>I live in Skien - Telemark in Norway, with my husband and my daughter</p>
                    <p>In the fall of 2022 i started school at Noroff where i study backend development</p>
                    <p>You can read more about my backend development knowledge in the experience page</p>
                    <a href="#"><i class="bi bi-facebook text-dark"></i></a>
                    <a href="#"><i class="bi bi-instagram text-dark"></i></a>
                    <a href="#"><i class="bi bi-youtube text-dark"></i></a>
                    <a href="#"><i class="bi bi-twitter text-dark"></i></a>
            </div>
        </div>
    </div>
</section>