<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="text-center mt-5 mt-lg-0">
                <h2>Contact me</h2>
                <p>Address: Skien,Telemark</p>
                <p>Phone Number: 00000000</p>
                <p>Mail: My@PrivateMail.com</p>
            </div>
        </div>
    </div>
</section>