<section class="contact" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mt-5 mt-lg-0">
                <h2>Experience</h2>
                <p>my experience</p>
                
            </div>
        </div>
    </div>
</section>