 <section> 
   <h2 class="text-center">My table of knowledge</h2>
                <h5 class="text-center">A little piece of my backend developer skills</h5>
              <div class="grid-container">
                    <div class="grid-item text-center">Html<img src="images/HTML-5.svg"></div>
                    <div class="grid-item text-center">JavaScript<img src="images/JavaScript.svg"></div>
                    <div class="grid-item text-center">CSS<img src="images/CSS-3-.svg"></div>
                    <div class="grid-item text-center">Bootstrap<img src="images/bootstrap.jpg"></div>
                    <div class="grid-item">jQuery<img src="images/JQuery.svg"></div>
                    <div class="grid-item">EJS<img src="images/ejs.png"></div>
                    <div class="grid-item">NodeJS<img src="images/Node-JS.svg"></div>
                    <div class="grid-item">Npm<img src="images/Npm-.svg"></div>
                    <div class="grid-item">MySQL<img src="images/MySQL.svg"></div>
                  </div>

</section>