<header id="home">
    <div class="container-fluid header-content">
        <div class="row">
            <div class="col">
                <div class="content-box text-center text-light">
                    <h1>Hello</h1>
                    <h2>My name is <span class="aboutMe"></span></h2>
                    <p>And welcome to my page <i
                            class="bi bi-emoji-smile"></i></p>
                    <a href="#" class="btn btn-primary">DOWNLOAD CV</a>
                </div>
            </div>
        </div>
    </div>
</header>