<!DOCTYPE html>
<html lang="en">

<head>
  <title>Portfolio</title>
  <%- include('./partials/head.ejs') %>
</head>

<body onload="startGame()" class="position-relative text-center" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>
      <%- include('./partials/game.ejs') %>
    </div>
    <%- include('./partials/scripts.ejs') %>
</body>

</html>